* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: bold;
}

.welcome {
  width: 100%;
  font-family: opensans, Arial, sans-serif;
  box-sizing: border-box;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #000000;
  position: relative;
  z-index: 0;
}

.welcome:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.up-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 27px 15px 0px 15px;
}

.logo-header {
  height: 40px;
}

.burger-header {
  display: none;
}

.menu {
  font-size: 13px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-list-item {
  display: inline-block;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: center;
}

.intro-text {
  width: 700px;
  padding: 95px 0px 145px 0px;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.trends {
  font-family: opensans, Arial, sans-serif;
  justify-content: center;
  padding: 62px 15px 0px 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.trends-line {
  display: flex;
  justify-content: center;
}

.title-trends {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 29.15px;
  font-weight: bold;
  margin: 0;
}

.title-trends::after {
  content: "";
  background-color: #e1d9bd;
  height: 3px;
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 14px auto;
}

.trends-box {
  max-width: calc(25% - 10px);
  position: relative;
  display: flex;
  margin-right: 10px;
}

.trends-foto {
  width: 100%;
  height: 320px;
  background-color: #eff6f1;
  box-sizing: border-box;
}

.trends-box::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.info-trends {
  position: absolute;
  bottom: 15px;
  margin: 0px 20px;
  padding: 35px 0px 35px 30px;
  box-sizing: border-box;
  border: 3px solid #b59f5b;
  z-index: 1;
}

.trends-name-text {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: bold;
}

.trends-name-text:hover {
  color: #b59f5b;
}

.page {
  width: 1200px;
  font-family: opensans, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 54px 15px 0px 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.post-list {
  max-width: 898px;
}

.card {
  display: flex;
  padding: 0px 120px 0px 0px;
}

.card:nth-child(n + 2) {
  margin-top: 59px;
}

.card:last-child {
  margin-bottom: 64px;
}

.foto-post {
  max-width: 100%;
  background-color: #eff6f1;
  box-sizing: border-box;
  margin-right: 30px;
}

.category-tag {
  padding: 0px 0px 16px 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.category-link {
  color: #b59f5b;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
  vertical-align: top;
}

.category-link:hover {
  text-decoration: underline;
  text-shadow: 0.4px 0.4px 0.4px #b59f5b;
}

.card-name-text {
  color: #0f0d0e;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: bold;
}

.card-name-text:hover {
  color: #b59f5b;
}

.data-author {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 0px;
  vertical-align: top;
}

.card-date {
  display: block;
  color: #888888;
  line-height: 24px;
  font-weight: normal;
  font-size: 12px;
  vertical-align: top;
}

.author {
  margin-left: 17px;
  color: #0f0d0e;
  line-height: 40px;
  font-weight: bold;
  font-size: 12px;
}

.text {
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
  margin: 15px 0px;
}

.side-bar {
  font-family: opensans, Arial, sans-serif;
  box-sizing: border-box;
  width: 270px;
}

.new-side-caption {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 29.15px;
  font-weight: bold;
  margin: 0;
}

.new-side-caption::after {
  content: "";
  background-color: #e1d9bd;
  height: 3px;
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto;
}

.new-side-content {
  font-family: opensans, Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  padding: 21px 0px 0px 1px;
  line-height: 18px;
}

.side-post-foto {
  display: flex;
}

.side-post {
  box-sizing: border-box;
  background-color: #eff6f1;
  font-size: 10px;
  width: 70px;
  height: 70px;
}

.new-side-header {
  padding: 0px 0px 0px 20px;
}

.data {
  font-size: 12px;
  color: #888888;
  font-weight: normal;
}

.new-side-link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: #000000;
  vertical-align: top;
}

.new-side-link:hover {
  color: #b59f5b;
}

.search {
  padding: 60px 0px 62px 0px;
}

.search-page {
  display: flex;
}

.field-search {
  box-sizing: border-box;
  width: 224px;
  border: 1px solid;
  border-color: transparent;
  padding: 18px 0px 18px 18px;
  margin: 0;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
}

.search-group:focus {
  text-decoration: underline;
  border: 1px;
  border-color: #b59f5b;
}

.field-search:focus {
  border: 1px solid;
  outline: none;
  border-color: #b59f5b;
}

.button {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  background-color: #b59f5b;
  border: none;
  color: white;
  padding: 23px;
}

.button:hover {
  cursor: pointer;
  height: 48px;
  background-color: #323232;
}

.loupe {
  width: 15px;
  cursor: pointer;
}

.mailing {
  padding: 20px 0px 60px 0px;
}

.field-mail {
  box-sizing: border-box;
  width: 272px;
  border: 1px solid;
  border-color: transparent;
  padding: 17px 0px 17px 18px;
  margin: 0;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
}

.mailing-page:focus {
  text-decoration: underline;
  border-color: #b59f5b;
}

.field-mail:focus {
  border: 1px solid;
  outline: none;
  border-color: #b59f5b;
}

.button-mail {
  box-sizing: border-box;
  width: 272px;
  background-color: #b59f5b;
  border: none;
  color: white;
  padding: 16px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 17px;
  cursor: pointer;
  height: 48px;
}

.button-mail:hover {
  height: 48px;
  background: #323232;
  width: 272px;
}

.tag-list-category {
  flex-wrap: wrap;
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 60px;
}

.tags-link {
  display: block;
  text-decoration: none;
  border: solid 4px #eeeeee;
  margin-right: 6px;
  margin-bottom: 10px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
}

.tags-link:hover {
  text-shadow: 0.4px 0.4px 0.4px #0f0d0e;
  border: 4px solid;
  outline: none;
  border-color: #b59f5b;
}

.topic-list-category {
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
}

.topics-link {
  display: block;
  text-decoration: none;
  border-bottom: solid 2px #eeeeee;
  margin-right: 6px;
  margin-bottom: 10px;
  padding: 10px 0px 20px 0px;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
  text-align: left;
}

.topics-link:hover {
  color: #b59f5b;
}

.degree {
  font-size: 12px;
  font-weight: bold;
  color: #b59f5b;
}

.shop {
  font-family: opensans, Arial, sans-serif;
  justify-content: center;
  padding: 62px 15px 0px 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper-shop {
  display: flex;
  justify-content: center;
}

.title-shop {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 29.15px;
  font-weight: bold;
  margin: 0;
}

.title-shop::after {
  content: "";
  background-color: #e1d9bd;
  height: 3px;
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 14px auto;
}

.shop-box {
  box-sizing: border-box;
  margin-bottom: 300px;
}

.shop-box:nth-child(-n + 2) {
  margin-right: 110px;
}

.foto-buy {
  background-color: #eff6f1;
  box-sizing: border-box;
}

.info-shop {
  position: absolute;
  margin: -37px -26px -50px -26px;
  width: 345px;
  height: 265px;
  padding: 56px 20px 30px 30px;
  box-sizing: border-box;
  border: 3px solid #b59f5b;
}

.info-shop-header {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-shop-title {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}

.shop-name-link {
  color: #b59f5b;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
}

.shop-name-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

.price-buy {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.price-crossout {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
}

.price {
  font-size: 20px;
  font-weight: bold;
}
.price-crossout-hidden {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
  visibility: hidden;
}
.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid #000;
  display: inline-block;
  text-decoration: line-through;
}

.button-buy {
  box-sizing: border-box;
  background-color: #b59f5b;
  border: none;
  color: white;
  padding: 17px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  height: 48px;
}

.button-buy:hover {
  height: 48px;
  background: #323232;
  width: 137px;
}

.basement {
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1200px;
  font-family: opensans, Arial, sans-serif;
}

.social {
  display: flex;
  justify-content: center;
}

.social-list {
  background-color: #f4f7f6;
  width: 1200px;
  justify-content: center;
  display: flex;
}

.social-list-category {
  display: flex;
  list-style-type: none;
}

.dribbble {
  background-image: url("../svg/001-dribbble.svg");
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 34px;
  margin-left: 30px;
  margin-right: auto;
}

.pinterest {
  background-image: url("../svg/002-pinterest.svg");
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 34px;
  margin-left: 30px;
  margin-right: auto;
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 34px;
  margin-left: 30px;
  margin-right: auto;
}

.copyrights-text {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
}

.popup {
  visibility: hidden;
  font-family: opensans, Arial, sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 150px 28px;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.pop-container {
  display: flex;
  max-width: 390px;
  background: white;
  margin: auto;
}

.popup-info {
  margin: 45px 30px;
  align-items: center;
  justify-content: center;
}

.popup-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 29.15px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 30px;
}

.popup-title::after {
  content: "";
  background-color: #e1d9bd;
  height: 3px;
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto;
}

.select-group {
  padding-bottom: 25px;
}

.popup-questions {
  font-size: 13px;
  padding-bottom: 12px;
}

.select-answer {
  box-sizing: border-box;
  min-width: 100%;
  border: 1px solid;
  border-color: transparent;
  padding: 17px 0px 17px 18px;
  margin: 0;
  font-size: 13px;
  height: 50px;
  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-answer:focus {
  border: 1px solid;
  outline: none;
  border-color: #b59f5b;
}

.checkbox-popup {
  margin-right: 15px;
  padding-bottom: 30px;
}

.popup-control {
  display: none;
}

.popup-input-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #b59f5b;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.popup-control:checked + .popup-input-text::before {
  background: #b59f5b;
  outline: 1px solid #b59f5b;
  outline-offset: 3px;
}

.input-theme-popup {
  padding: 20px 0px 60px 0px;
}

.theme-popup {
  box-sizing: border-box;
  min-width: 100%;
  border: 1px solid;
  border-color: transparent;
  padding: 20px;
  margin: 0px;
  font-size: 13px;
  background-color: #f4f7f6;
}

.theme-popup:focus {
  border: 1px solid;
  outline: none;
  border-color: #b59f5b;
}

.button-theme-popup {
  box-sizing: border-box;
  min-width: 100%;
  background-color: #b59f5b;
  border: none;
  color: white;
  padding: 16px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 17px;
  cursor: pointer;
  height: 48px;
}

.button-theme-popup:hover {
  height: 48px;
  background: #323232;
  width: 330px;
}

.close {
  position: relative;
  top: -610px;
  left: 45px;
  height: 20px;
  background-image: url("../svg/form-x.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .welcome {
    width: 100%;
    background-image: url("../images/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .up-menu {
    display: flex;
    justify-content: flex-start;
  }

  .logo {
    padding: 42px 0px 0px 35px;
  }

  .logo-header {
    height: 40px;
  }

  .menu {
    display: none;
  }

  .burger-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 35px 0px 35px;
  }

  .hamburger-button-top::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }
  .hamburger-button-middle::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }

  .hamburger-button-bottom::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }

  .intro-text {
    padding: 95px 0px 145px 0px;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  .trends {
    width: 100%;
    padding: 50px 0px 0px 0px;
  }

  .trends-line {
    display: flex;
    flex-wrap: wrap;
  }

  .trends-box {
    margin-bottom: 3px;
    margin-right: 5px;
    max-width: 49%;
  }

  .trends-foto {
    max-width: 100%;
  }

  .info-trends {
    margin: 0px 16px;
    padding: 30px 17px 23px 30px;
  }

  .trends-name-text {
    font-size: 17px;
  }

  .page {
    max-width: 100%;
    padding: 50px 35px 0px 35px;
  }

  .post-list {
    max-width: 100%;
    max-width: 390px;
    padding-right: 30px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
  }

  .foto-post {
    margin-right: 10px;
  }

  .shop-line {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrapper-shop {
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop-box {
    max-width: calc(50% - 67px);
    margin-bottom: 150px;
  }

  .foto-buy {
    width: 100%;
  }

  .info-shop {
    position: relative;
    width: auto;
    height: auto;
  }

  .shop-box:nth-child(-n + 2) {
    margin-right: 67px;
  }

  .basement {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .welcome {
    min-width: 100%;
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 44px;
  }

  .logo {
    padding: 165px 0px 0px 0px;
    display: flex;
    justify-content: center;
  }

  .logo-header {
    height: 60px;
  }

  .menu {
    display: none;
  }

  .burger-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 15px 0px 15px;
  }

  .hamburger-button-top::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }
  .hamburger-button-middle::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }

  .hamburger-button-bottom::after {
    content: "";
    background-color: #ffffff;
    height: 4px;
    display: block;
    box-sizing: border-box;
    width: 25px;
    margin: 4px 0;
  }

  .intro-text {
    padding: 42px 15px 215px 15px;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  .trends {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  .trends-line {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trends-box {
    max-width: 100%;
    justify-content: center;
    margin-bottom: 3px;
    margin-right: 0px;
  }

  .trends-foto {
    max-width: 100%;
  }

  .info-trends {
    margin: 0px 16px;
    padding: 30px 17px 23px 30px;
    box-sizing: border-box;
    border: 3px solid #b59f5b;
    z-index: 1;
  }

  .trends-name-text {
    font-size: 16px;
  }

  .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    padding: 50px 15px 0px 15px;
  }

  .post-list {
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }

  .foto-post {
    margin-right: 0px;
  }

  .side-bar {
    width: 100%;
  }

  .field-search {
    width: 100%;
  }

  .field-mail {
    width: 100%;
  }

  .button-mail {
    width: 100%;
  }
  .button-mail:hover {
    width: 100%;
  }

  .shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .wrapper-shop {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .shop-box {
    margin-bottom: 150px;
  }

  .shop-box:nth-child(-n + 2) {
    margin-right: 0px;
  }

  .foto-buy {
    width: 100%;
  }

  .info-shop {
    position: relative;
    width: auto;
  }

  .basement {
    width: 100%;
  }
  .popup {
    padding: 150px 15px;
  }
}
